/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

.slides-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.slide-box {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}
