---
import exseedLogoNoText from "../assets/images/exseed-logo-no-text.png";
---

<div
  class="bg-[#03080e] py-[10rem] flex flex-col items-center justify-center space-y-[4rem]"
>
  <img src={exseedLogoNoText} alt="" class="w-[9rem]" />
  <h1
    class="text-customHeadingText text-3xl md:text-5xl text-customWhiteText text-center max-w-2xl"
  >
    Try the leading provider of ERP solutions in Cambodia!
  </h1>
  <a href="/contact">
    <div
      class="w-28 sm:w-52 h-12 font-bold text-customWhiteText border border-solid border-white flex justify-center items-center cursor-pointer hover:border-customSecondary transition"
    >
      Get Started
    </div>
  </a>
</div>
