---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="ExseedERP, the leading ERP solutions provider in Cambodia"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
      html {
        font-family: "Varela Round", sans-serif;
        background-color: #f3f6fa;
        overflow-x: hidden;
        scroll-behavior: smooth;
        overflow-y: scroll;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        overscroll-behavior-y: none;
      }
      body {
        overflow-y: visible;
        position: relative;
        height: unset;
        overflow-x: hidden;
        margin: 0;
      }
    </style>
  </body>
</html>
